@model StudentTest.Models.Order

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.orderUserID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.orderUserID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.orderProductID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.orderProductID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderQTY)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderQTY)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.orderTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.orderTotal)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
